<!DOCTYPE html>
<html>
  <head>
    <title>Express Boilerplate</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="css/style.css">

  </head>
  <body>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center">
				<h2 style="margin-top:100px;">Express.js Boilerplate</h2>
				<small>jhondelbaguio &copy; 2016</small>
			</div>
		</div>
	</div>
  </body>
</html>
